@import "utilities/globales";
@import "utilities/variables";
@import "utilities/mixins";
@import "layout/header";
@import "layout/footer";
@import "views/contact";
@import "views/home";
@import "views/how-work";
@import "views/about-us";


body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}