@import "../utilities/variables";

html {
    font-size: 62.5%;
}

* {
    margin: 0 auto;
}

a {
    font-family: Arial, Helvetica, sans-serif;
}


h1,h2,h3,h4 {
    font-family: $fuente-principal;
}


h1 {
    font-size: 4rem;
}
h2,h3 {
    font-size: 3rem;
}

h4 {
    font-size: 1.2rem;
}


img {
    max-width: 100%;
}



.text-center {
    text-align: center;
}




.hover:hover {
    color: $color-second;
}


.active {
    color: $color-second;
}


.pointer {
    cursor: pointer;
}