/*Colors*/

$color-first: #F6F1F1;
$color-second: #19A7CE;
$color-third: #146C94;
$color-fourth: #000000;
$background-opacity: #146b946e;

 

/*Size fonts*/

$font-small: 14px;

$font-medium: 20px;

$icon-small: 40px;

$icon-medium: 60px;

 

/*Resoluciones de pantallas*/

$phone-xl: 425px;

$tablet: 768px;

$desktop: 992px;

$desktopXG: 1200px;

 

/*Separaciones (margenes y paddings)*/

$espacio-Xchico: 10px;

$espacio-chico: 20px;

$espacio-medio: 40px;

$espacio-grande: 60px;

 

/*Fuente*/

$fuente-principal: 'Montserrat', sans-serif;

 


