@import "../utilities/variables";
@import "../utilities/mixins";


footer {
    @include flex-column;
    text-align: center;
    opacity: 85%;
    background-color: $color-second;
    color: $color-first;
    img {
        width: 35px;
    }
}

.whatsapp {
    position: fixed;
    bottom: 15px;
    right: 25px;
    width: 60px;
}