@import "../utilities/variables";





.navbar {
    font-family: $fuente-principal;
    width: 100%;
    a {
        color: $color-first;
        &:hover {
            color: $color-fourth;
        }
    }
}

button.navbar-toggler {
    background-color: $color-first;
}


a.navbar-brand {
    font-size: 20px;
    font-size: $font-medium;
}

nav.navbar.navbar-expand-lg {
    background-color: $color-second;
    opacity: 75%;
}
