@import "../utilities/variables";
@import "../utilities/mixins";



header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-opacity;
    position: sticky;
    top: 0;
    .favicon {
        img {
        width: 100px;
        }
    }
    nav {
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            padding: 10px;
            background-color: $color-first;
            a {
                text-decoration: none;
                padding: 5px;
                font-size: 15px;
                margin: 5px;
                font-weight: bold;
                color: $color-second;
            }
        }
    }
}

.hover:hover {
    color: $color-fourth;
}



@media (min-width: $tablet) {
    header {
        .favicon {
            img{
                width: 150px;
            }
        }
        nav {
            ul {
                padding: 20px;
                a {
                    margin: 20px;
                    font-size: x-large;
                }
            }
        }
    }
}
