@import "../utilities/variables";
@import "../utilities/mixins";

.about-us {
    background-color: $background-opacity;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    h2 {
        padding: 10px;
        color: $color-first;
        text-align: center;
    }
    p {
        text-align: center;
        display: flex;
        padding: 10px;
        font-family: $fuente-principal;
        font-size: 15px;
        color: $color-first;
    }
    img {
    }
}

.profile-about {
    width: 400px;
}

.bg-about-us {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
}