@import "../utilities/variables";
@import "../utilities/mixins";

.title-contact {
    font-family: $fuente-principal;
    display: none;
}

form {
    @include flex-column;
    width: 250px;  
    margin: 0 auto;
    border: 1px solid $color-second;
    border-radius: 5px;
    font-family: $fuente-principal;
    padding-bottom: 10px;
    background-color: $background-opacity;
    padding-top: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: $color-first;
}

input, textarea {
    width: 80%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid $color-second;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: $color-second;
    color: $color-first;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: $color-third;
}

@media (min-width: $tablet) {
    form {
        width: 600px;
    }
    input, textarea {
        width: 75%;
    }
    main{
        padding-bottom: 150px;
    }
}
