@import "../utilities/variables";
@import "../utilities/mixins";

.banner {
    padding: 10px;
    img {
        border-radius: 20px;
    }
}

@media (min-width: $tablet) {
    .banner {
        max-width: 768px;
    }
    .variety{
        max-width: 768px;
    }
}


.variety {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        .variation {   
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
            padding: 8px;
        img {
            border-radius: 3%;
        }
        }
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2%;
    .card {
        width: 30%;
        padding: 1%;
        .card-content {
            border-radius: 5%;
            padding: 5%;
            background-color: $color-second;
            .card-header {
                h4 {
                    font-family: $fuente-principal;
                }
            }
            img {
                border-radius: 5%;
            }
            .card-footer {
            }
        }
    }
}

@media (min-width: $tablet) {
    .cards {
        max-width: 768px;
        .card {
            width: 20%;
            h4 {
                font-size: medium;
            }
        }
    }
}